<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/saveEdit/{id} (id=${editUser.getId()})}" th:object="${editUser}">
    <label for="firstname">Firstname: </label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <br/>
    <label for="lastname">Lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="roles">roles: </label>
    <input type="text" th:field="*{roles}" id="roles"/>
    <br/>
    <input type="submit" value="Edit"/>
</form>
</body>
</html>