<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr th:each="user : ${users}">
            <td><a th:href="@{admin/userPage/{id} (id=${user.getId()})}" th:utext="${user.getId()}"></a></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getSurname()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td th:utext="${user.getStringRoles()}"></td>
        </tr>
    </table>
</div>
<br/>
<hr/>
<a href="admin/new">Create new user</a>
<a th:href="@{/logout}">Logout</a>
</body>
</html>