<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
        </tr>

        <tr>
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getSurname()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td th:utext="${user.getPassword()}"></td>
            <td th:utext="${user.getStringRoles()}"></td>
        </tr>
    </table>
</div>
<form th:method="GET" th:action="@{/admin/edit/{id} (id=${user.getId()})}">
    <input type="submit" value="Edit">
</form>

<form th:method="DELETE" th:action="@{/admin/delete/{id} (id=${user.getId()}) }">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>